@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Ubuntu;
        src: url(./assets/fonts/Ubuntu-Bold.ttf);
    }
  }
  #root {
    height: 100vh;
    position: relative;
  }
  body {
    height: 100vh;
    background-color: rgb(241 245 249);
  }